html, body, nav, header, section, 
aside, footer, div, span, h1, h2, 
h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/**div {
  border: 1px solid #ddd;
}**/

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}

/** START OF CUSTOM STYLES **/

body {
  background-color: #f8f8f8;
  width: 100%;
  margin: 5% 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapperForm, .wrapperVideos {
  width: 80%;
  margin: 0.5% auto;
  text-align: center;
  font-family: 'Montserrat';  
  position: relative;
  border: 1px solid gray;
}

.wrapperForm h1 {
  font-size: 26px;
  padding: 10px;
}
 
.wrapperForm h2, #search-term {
  font-size: 22px;
  padding: 0 0 10px;
}

#search-term {
  font-size: 20px;
  color: #888;
}
#search-results {
  min-height: 230px;

}
#search-results li {
  list-style-type: none;
  position: relative;
  float: left;
  max-width: 19%;
  margin: 0.5%;
}

#search-results a {
  text-decoration: none;
  color: #444;
}

#search-results img {
    max-width: 100%;
  }

#search-results p {
  max-width: 320px;
  font-size: 16px;
  font-weight: 300;
}

#next {
  max-width: 25%;
  margin: 3.5% auto 0.5%;
}

@media screen and (max-width: 500px) {
  
  body, #wrapper {
    width: 400px;
    margin: auto;
  }

  .submit {
    width: 90%;
    margin: 10px;
  }

  #search-results img {
    width: 320px;
    height: 180px;
  }
}


